/** Fuente del Viejo oeste **/

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/***** Fuente general *****/

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
li {
  font-family: "Nunito", sans-serif;
  padding: 0em;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-cwb,
.text-cwb a,
.text-cwb p {
  font-family: "Holtwood One SC", serif;
}

/** Menu**/
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  font-size: 20px;
  font-weight: 700;
}

/** iFrame Video width **/
iframe {
  max-width: 100%;
}

/** Personalización de Carrusel **/
.desc-carrusel {
  background: rgba(0, 0, 0, 0.55);
  right: initial;
  bottom: 4rem;
  left: 5%;
}
.btn-cwb {
  color: #fff;
  background-color: #3a3dba;
  border-color: #3a3dba;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #3a3dba;
}

.form-check-input:checked {
  background-color: #3a3dba;
  border-color: #3a3dba;
}

.blog-imagen img {
  width: 100%;
  height: 100%;
}
.redondo {
  border-radius: 50%;
  min-width: 45px;
  min-height: 45px;
}

/** Tabla de Standigs**/

table.table.table-striped {
  font-size: 20px;
}

/** toggle dark mode**/
.form-switch {
  padding-left: 3em;
}

/** Dark Mode **/

body {
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .form-switch {
  color: #3a3dba;
}

.dark-mode .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff0;
  background-clip: border-box;
  border: 1px solid rgb(255 248 248 / 13%);
  border-radius: 0.25rem;
}

.dark-mode .mb-4.p-3.border.rounded.bg-light {
  background-color: #f8f9fa00 !important;
}

.dark-mode .table {
  color: #fff;
}

.dark-mode .table-striped > tbody > tr:nth-of-type(odd) {
  color: #fff;
}

.dark-mode footer.bg-light {
  background-color: #fff0 !important;
  border-top: 1px solid rgb(255 248 248 / 13%);
}

/* scroll horizontal */
.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
/* Decorations */

.col-xs-4 {
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 18px;
}

.col-xs-4:nth-child(2n+1) {
  background: green;
}

.col-xs-4:nth-child(2n+2) {
  background: black;
}

p.card-text {
  font-size: 21px;
}
.card-title {
  font-size: 24px;
}

.text-muted {
  color: #6c757d!important;
  margin: 5px 0px !important;
}